.About {
    position: relative;
    min-height: calc(100vh - 115px);
    height: max-content;
    // top: 115px;
    // left: 0;
    width: 100vw;
    display: flex;
    // display: none;
    flex-direction: row;
    justify-content: space-around;
    // align-items: center;
    // overflow-y: scroll;
    // margin-top: 50px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-margin-top: 12.5vh;
}

.About::-webkit-scrollbar {
    display: none;
}

.textWrapper {
    height: calc( 100vh - 150px);
    display: flex;
    align-self: center;
    flex-shrink: 0;
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    font-family: Alata;
    max-height: 100%;
    font-size: 23px;
    h1 {
        color: #00627a;
    }
    a {
        color: rgb(37, 37, 37);
    }
    a:hover {
        color: rgb(87, 87, 87);
    }
}

.portrait {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    width: 30vw;
    height: max-content;
    margin: 0 1% 0 40px;
    padding: 0;

    img {
        margin: 0;
        padding: 0;
        border: 3px solid rgba(#00627a, 0.5);
        border-radius: 10px;
        max-height: 80vh;
        transition: opacity 0.1s;
    }
}


@media(max-width: 832px) {

    .About {
        flex-direction: column-reverse;
        width: 100vw;
        // top: 70px;
        min-height: calc(100vh - 70px);
        align-items: center;
        justify-content: flex-start;
        -webkit-overflow-scrolling: auto;
    }

    .textWrapper {
        height: max-content;
    }

    .text {
        max-width: 85vw;
        font-size: 20px;
        min-height: 100%;
        h1 {
            text-align: center;
            margin-top: 10px;
        }
    }

    .portrait {
        width: 80vw;
        margin: 20px auto;
        padding-top: 30px;
        img {
            max-height: none;
        }
    }

}