.WorkProject {
    position: relative;
    min-height: calc(100vh - 115px);
    height: max-content;
    // top: 115px;
    left: 0;
    width: 100vw;
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    // display: none;
    opacity: 0;
    flex-direction: row;
    justify-content: space-around;
    // margin: 3% 0 3% 3%;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    h1, h2 {
        font-family: Alata;
        max-width: 40vw;
        font-weight: 900;
        box-sizing: border-box;
        margin-left: 3vw;
    }

    h1 {
        text-transform: uppercase;
        color: #00627a;
        letter-spacing: 10px;
        font-size: 50px;
        margin: 8vh 0 5vh 3vw;
    }

    h2 {
        line-height: 45px;

        span {
            background-image: linear-gradient(#00627a, #00627a);
            background-size: 10px 10px;
            background-position: 0 1.175em;
            background-repeat: repeat-x;
        }
    }

    button {
        margin: 3% 0 1vh 3vw;
        background: radial-gradient(rgb(94, 93, 93), rgb(48, 47, 47));
        border-radius: 15px;
        padding: 5px 8px;
        transition: 0.2s all;
    }

    button:hover {
        padding: 5px 10px;
    }

    a {
        font-family: Alata;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 2px;
        text-decoration: none;
        align-self: center;
        color: white;
    }
}

.ProjectImages {
    max-height: 60vh;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    width: 45vw;
    min-width: 400px;
    max-width: 1010px;
    margin: 0 2% 0 40px;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.image {
    top: 0;
    min-width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    border: 5px solid rgba(#00627a, 0.5);
    border-radius: 10px;
    transition: opacity 0.2s;
    position: absolute;
}

.image:nth-child(1):hover {
    opacity: 0;
}

.image:nth-child(2) {
    position: absolute;
    left: -100%;
    z-index: -1;
}

.image:nth-child(2):hover {
    display: flex;
}

.WorkProject::-webkit-scrollbar {
    display: none;
}

@media(max-width: 832px) {

    .WorkProject {
        min-height: calc(100vh - 70px);
        // top: 70px;
        left: 0;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        margin: 0;

        h1, h2 {
            max-width: 90vw;
            margin: 3vh auto;
        }
    
        h1 {
            letter-spacing: 5px;
            font-size: 35px;
        }

        h2 {
            font-size: 20px;
            line-height: normal;
        }

        button {
            margin: 4vh auto;
            padding: 5px 8px;
            display: block;
        }

        a {
            font-size: 15px;
            font-weight: 900;
            letter-spacing: 2px;
        }

    }

    .ProjectImages {
        max-height: 50vh;
        width: 95vw;
        min-width: 200px;
        margin: 3% auto 0 auto;
    }
}
