.ProjectPresentation {
    position: relative;
    top: 115px;
    min-height: calc(100vh - 165px);
    display: flex;
    flex-direction: column;

    h1 {
        text-transform: uppercase;
        color: #00627a;
        letter-spacing: 10px;
        font-size: 75px;
        margin: 5vh auto 2vh auto;
        width: max-content;
    }
}

@media(max-width: 832px) {

    .ProjectPresentation {
        top: 70px;

        h1 {
            margin: 5vh 0 2vh 0;
        }
    }

}