.ProjectPresentation {
    position: relative;
    top: 115px;
    min-height: calc(100vh - 165px);
    display: flex;
    flex-direction: column;

    h1 {
        text-transform: uppercase;
        color: #00627a;
        letter-spacing: 10px;
        font-size: 75px;
        margin: 5vh auto 2vh auto;
        width: max-content;
    }
}