@function makelongshadow($color) {
    $val: 0px 0px $color;
    @for $i from 1 through 100 {
      $val: #{$val}, #{$i}px #{$i}px #{$color};
    }
    @return $val;
  }

.Header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFEA80;
    margin: 0 0 10px 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    min-height: 115px;
    z-index: 50;


    .title_container_big {
        max-width: 600px;
        cursor: pointer;
        z-index: 1;
        outline: none;
        border: none;
        background: none;
        text-align: left;
    }
    .title_container_big:focus h1 {
        text-shadow: makelongshadow(#ca2f09);
    }

    h1 {
        overflow: hidden;
        font-weight: 600; 
        color: #FFFFD9;  
        font-family: 'Helvetica'; 
        font-size: 80px;
        text-shadow: makelongshadow(#FF6138);
        text-transform: uppercase;
        line-height: 60px;
        padding: 40px;
        z-index: 99;
        position: relative;
        height: 200px;
        width: 600px;

    }

    h2 {
        width: 70vw;
        font-family: Alata; 
        font-size: 40px;
        line-height: 80px;
        color: #d64f26;
        position: relative;
        z-index: -5;
        
        span {
            text-transform: uppercase;
            display: inline-block;
            letter-spacing: 9px;
            font-weight: 900;
            color: #00627a;
            animation: jiggle 5s linear infinite;
            transform: translate(0, 0);
        }

        @keyframes jiggle {
            from { transform: rotate(0deg) translateX(3px) rotate(0deg); }
            to   { transform: rotate(360deg) translateX(3px) rotate(-360deg); }
        }
    }

    nav {
        align-items: flex-start;
        justify-content: space-evenly;


        button {
            font-family: Alata; 
            color: #00627a;
            outline: none;
            border: none;
            background: none;
            cursor: pointer;
            text-transform: uppercase;
            position: relative;
        }

        button::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: -15px;
            left: 0;
            background-color: #00627a;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.2s ease-in-out 0s;
        }

        button:hover::before {
            visibility: visible;
            transform: scaleX(1);
        }

        button:focus::before {
            visibility: visible;
            transform: scaleX(1);
        }
    }

    .mainNav {
        opacity: 1;
        margin: 20px 0 10vh 0;

        button {
            font-size: 35px;
            margin: 0 50px;
        }
    }
    
    .reappearNav{
        display: none;
        opacity: 0;
        position: absolute;
        top: 25%;
        right: 50px;
        height: max-content;
        flex-direction: row;

        button {
            font-size: 20px;
            padding: 15px;
        }
    }
    
}

.big {

    h1 {
        animation: elongate 2s; 
    }
    @keyframes elongate {
        from {
            text-shadow: 0 0 0;
        } to {
            text-shadow: makelongshadow(#FF6138);
        }
    }
}

.small {
    height: 115px;

    .linkHome {
        text-decoration: none;
    }

    h1 {
        font-size: 80px;
        height: 115px;
        line-height: 60px;
        padding: 40px;
        width: 600px;
        height: 200px;
    }

    h2 {
        display: none;
    }

    nav {
        display: block;
        margin: 0;
        position: absolute;
        top: 25%;
        right: 50px;
        height: max-content;

        button {
            font-size: 20px;
            padding: 15px;
        }

        button {
            font-size: 20px;
            margin: 0;
            height: max-content;
            padding: 15px;
        }
        
        // button:nth-child(1) {
        //     color: #023e4d;
        // }
    }
}

@media(max-width: 832px) {

    .Header {
        min-height: 70px;

        h1 {
            font-size: 40px;
            line-height: 34px;
            height: 130px;
            width: 350px;
        }
        h2 {
            font-size: 20px;
            width: 80vw;
            line-height: 40px;
            span {
                letter-spacing: 5px;
            }
        }
        .mainNav {
            display: block;
            flex-direction: column;
            align-items: center;
            margin-bottom: 23vh;

            button {
                font-size: 20px;
                margin: 5% 0;
                width: 100%;
                z-index: 0;
                padding: 3px;
            }
            button::before {
                width: 0;
            }
            button:hover {
                color: #001c23;
            }
            button:focus {
                color: #001c23;
            }
            button:active {
                color: #001c23;
            }
        }
        .reappearNav {
            top: 0;
            right: 2%;
            height: 100%;
            flex-direction: row;
            align-items: center;

            button {
                height: 100%;
                font-size: 13px;
                margin: 0;
                width: max-content;
                padding: 3px;
            }
            button::before {
                width: 0;
            }
            button:hover {
                color: #001c23;
            }
            button:active {
                color: #001c23;
            }

        }
    }

    .small {
        height: 70px;

        .linkHome {
            transform: translate(-30vw, -22%) scale(0.5, 0.5);
        }

        nav {
            display: flex;
            margin: 0;
            position: absolute;
            top: 0;
            right: 2%;
            height: 100%;
            flex-direction: row;
            align-items: center;

            button {
                // color: #00627a;
                height: 100%;
                font-size: 13px;
                margin: 0;
                width: max-content;
                padding: 3px;
            }

            button {
                font-size: 13px;
                margin: 0;
                width: max-content;
                padding: 3px;
            }
            button::before {
                width: 0;
            }
            button:hover {
                color: #001c23;
            }
            button:active {
                color: #001c23;
            }
        }

    }
}

@media(min-width: 832px) and (max-width: 1199px) {
    .linkHome {
        transform: translate(-33vw, -18.5%) scale(0.5, 0.5);
    }
}
@media(min-width: 1200px) and (max-width: 2499px) {
    .linkHome {
        transform: translate(-36vw, -18.5%) scale(0.5, 0.5);
    }
}
@media(min-width: 2500px) {
    .linkHome {
        transform: translate(-38vw, -18.5%) scale(0.5, 0.5);
    }
}