@function makelongshadow($color) {
    $val: 0px 0px $color;
    @for $i from 1 through 100 {
      $val: #{$val}, #{$i}px #{$i}px #{$color};
    }
    @return $val;
  }

.Header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFEA80;
    margin: 0 0 10px 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    min-height: 115px;

    h1 {
        overflow:hidden;
        margin: 0 auto 0 50%;
        font-weight: 600; 
        color: #FFFFD9;  
        font-family: 'Helvetica'; 
        font-size: 80px;
        text-shadow: makelongshadow(#FF6138);
        text-transform: uppercase;
        line-height: 60px;
        padding: 40px;
        transform: translateX(-50%);
        animation: elongate 2s;
        z-index: 99;
        position: relative;
        height: 200px;
        width: 600px;
        display: flex;
        align-self: flex-start;
    }

    h2 {
        width: 70vw;
        font-family: Alata; 
        font-size: 40px;
        line-height: 80px;
        color: #d64f26;
        position: relative;
        z-index: -5;
        

        span {
            text-transform: uppercase;
            display: inline-block;
            letter-spacing: 9px;
            font-weight: 900;
            color: #00627a;
            animation: jiggle 5s linear infinite;
            transform: translate(0, 0);
        }

        @keyframes jiggle {
            from { transform: rotate(0deg) translateX(3px) rotate(0deg); }
            to   { transform: rotate(360deg) translateX(3px) rotate(-360deg); }
        }

    }

    .big {
        animation: elongate 2s; 
    }

    @keyframes elongate {
        from {
            text-shadow: 0 0 0;
        } to {
            text-shadow: makelongshadow(#FF6138);
        }
    }


    nav {
        align-items: flex-start;
        margin: 20px 0 10vh 0;
        justify-content: space-evenly;

        button {
            font-family: Alata; 
            margin: 0 50px;
            color: #00627a;
            font-size: 35px;
            outline: none;
            border: none;
            background-color: rgba(0,0,0,0);
            cursor: pointer;
            text-transform: uppercase;
            position: relative;
        }

        button::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: -15px;
            left: 0;
            background-color: #00627a;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.2s ease-in-out 0s;
        }

        button:hover::before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
}

@media(max-width: 832px) {

    .Header {
        h1 {
            font-size: 40px;
            line-height: 34px;
            height: 130px;
            width: 350px;
        }
        h2 {
            font-size: 25px;
            width: 80vw;
            line-height: 40px;
            span {
                letter-spacing: 5px;
            }
        }
        nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            button {
                font-size: 23px;
                margin: 3%;
                width: 100%;
            }
            button::before {
                width: 95%;
                height: 3px;
                bottom: -5px;
            }
        }
    }
}