@function makelongshadow($color) {
    $val: 0px 0px $color;
    @for $i from 1 through 100 {
      $val: #{$val}, #{$i}px #{$i}px #{$color};
    }
    @return $val;
  }

@keyframes shrink-header { 
    to {
        height: 1vh;
    }
}

.Header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFEA80;
    margin: 0 0 10px 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    min-height: 115px;
    z-index: 50;

    @supports(animation-timeline: scroll()) {
        animation: shrink-header forwards;
        animation-timeline: scroll(block root);
	    animation-range: 0 5%;
    }
    @supports not (animation-timeline: scroll()) {
        animation: shrink-header 0.05s forwards;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
    }


    div {
        max-width: 600px;
        margin: 0 auto 0 50%;
        transform: translateX(-50%);
        cursor: pointer;

    
        @keyframes shrink-title-container { 
            to {
                width: 350px;
                transform: translateX(20%);
                margin-left: 0;
            }
        }

        animation: shrink-title-container 0.075s forwards;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);

    }


    h1 {
        overflow: hidden;
        font-weight: 600; 
        color: #FFFFD9;  
        font-family: 'Helvetica'; 
        font-size: 80px;
        text-shadow: makelongshadow(#FF6138);
        text-transform: uppercase;
        line-height: 60px;
        padding: 40px;
        z-index: 99;
        position: relative;
        height: 200px;
        width: 600px;

        @keyframes shrink-title { 
            to {
                font-size: 40px;
                height: 115px;
                line-height: 30px;
                padding: 20px;
                width: 350px;
            }
        }

        @keyframes elongate {
            from {
                text-shadow: 0 0 0;
            } to {
                text-shadow: makelongshadow(#FF6138);
            }
        }

        animation: shrink-title 0.04s forwards paused, elongate 2s;
        animation-delay: calc(var(--scroll) * -1s);


    }

    h2 {
        width: 70vw;
        font-family: Alata; 
        font-size: 40px;
        line-height: 80px;
        color: #d64f26;
        position: relative;
        z-index: -5;

        @keyframes shrink-subtitle { 
            to {
                opacity: 0;
                display: none;
            }
        }

        animation: shrink-subtitle 0.0075s forwards paused;
        animation-delay: calc(var(--scroll) * -1s);
        
        span {
            text-transform: uppercase;
            display: inline-block;
            letter-spacing: 9px;
            font-weight: 900;
            color: #00627a;
            animation: jiggle 5s linear infinite;
            transform: translate(0, 0);
        }

        @keyframes jiggle {
            from { transform: rotate(0deg) translateX(3px) rotate(0deg); }
            to   { transform: rotate(360deg) translateX(3px) rotate(-360deg); }
        }
    }

    nav {
        align-items: flex-start;
        margin: 20px 0 10vh 0;
        justify-content: space-evenly;

        @keyframes shrink-nav { 
            10% {
                opacity: 0;
            }
            23% {
                margin: 0;
                position: absolute;
            }
            25% {
                opacity: 0;
            }
            70% {
                margin: 0;
                position: absolute;
                top: 25%;
                right: 50px;
                opacity: 100%;
            }
            100% {
                margin: 0;
                position: absolute;
                top: 25%;
                right: 50px;
                opacity: 100%;
            }
        }

        animation: shrink-nav 0.1s forwards paused calc(var(--scroll) * -1s);

        button {
            font-family: Alata; 
            margin: 0 50px;
            color: #00627a;
            font-size: 35px;
            outline: none;
            border: none;
            background: none;
            cursor: pointer;
            text-transform: uppercase;
            position: relative;

            @keyframes shrink-button {
                9% {
                    font-size: 35px;
                    margin: 0 50px;
                    padding: 0;
                }
                30% {
                    font-size: 20px;
                    margin: 0;
                    padding: 15px;
                }
                100% {
                    font-size: 20px;
                    margin: 0;
                    padding: 15px;
                }
            }

            animation: shrink-button 0.1s forwards paused calc(var(--scroll) * -1s);
        }

        button::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: -15px;
            left: 0;
            background-color: #00627a;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.2s ease-in-out 0s;
        }

        button:hover::before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
}

.highlightedButton {
    text-decoration: underline;
}

.highlightedButton:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -15px;
    left: 0;
    background-color: #00627a;
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.2s ease-in-out 0s;
    z-index: 500;
}

// .big {

//     h1 {
//         animation: elongate 2s; 
//     }
// }

.small {
    height: 115px;

    // div {
    //     width: 350px;
    //     margin-left: calc(50% - 28.57%);
    // }

    a {
        width: 350px;
        margin: 0 auto 0 calc(50% - 28.57%);
        transform: translateX(-50%);
        text-decoration: none;
    }

    h1 {
        font-size: 40px;
        height: 115px;
        line-height: 30px;
        padding: 20px;
        width: 350px;
        margin-left: 0;
        margin-bottom: 0;
    }

    h2 {
        display: none;
    }

    nav {
        display: block;
        margin: 0;
        position: absolute;
        top: 25%;
        right: 50px;
        height: max-content;

        button {
            font-size: 20px;
            margin: 0;
            height: max-content;
            padding: 15px;
        }
        
        button:nth-child(1) {
            color: #023e4d;
        }
    }
}

@media(max-width: 832px) {

    .Header {
        min-height: 70px;

        h1 {
            font-size: 40px;
            line-height: 34px;
            height: 130px;
            width: 350px;
        }
        h2 {
            font-size: 20px;
            width: 80vw;
            line-height: 40px;
            span {
                letter-spacing: 5px;
            }
        }
        nav {
            display: block;
            flex-direction: column;
            align-items: center;
            margin-bottom: 23vh;
            button {
                font-size: 20px;
                margin: 5% 0;
                width: 100%;
                z-index: 0;
                padding: 3px;
            }
            button::before {
                width: 0;
            }
        }
    }

    .small {
        height: 70px;

        a {
            width: 160px;
            margin-left: 18.75%;

        }

        h1 {
            font-size: 20px;
            height: 70px;
            line-height: 20px;
            padding: 20px;
            width: 160px;
        }

        nav {
            display: flex;
            margin: 0;
            position: absolute;
            top: 0;
            right: 2%;
            height: 100%;
            flex-direction: row;

            button {
                font-size: 13px;
                margin: 0;
                width: max-content;
                padding: 3px;
                
            }
        }

    }
}