.Functionality {
    border: 1px solid grey;
    width: 50vw;
    font-family: Alata;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(255, 250, 221), rgb(199, 196, 181));
    border-radius: 3px;
    
    h1 {
        text-align: center;
    }
}